<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentification</title>
    <style>
        p{
            margin-top: 25%;
        }
    </style>
</head>
<body>
<form id="pform" action="/auth/done" method="post" align = "center">

    <p></p>
    <label for="email">E-Mail: </label>
    <input id="email" name="email" type="email"/><br>
    <label for="password">Password: </label>
    <input id="password" name="password" type="password"/><br>

    <input type="submit" value="Sign in!">
</form>

</body>
</html>