<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <style>
        p{
            margin-top: 25%;
        }
    </style>
</head>
<body>
<form id="pform" action="/registration/done" method="post" align = "center">
    <p></p>
    <label for="name">Name: </label>
    <input id="name" name="name" type="text"/><br>
    <!--<label for="surname">Second Name: </label>-->
    <!--<input id="surname" name="surname" type="text"/><br>-->
    <!--<label for="username">Username: </label>-->
    <!--<input id="username" name="username" type="text"/><br>-->
    <label for="email">E-Mail: </label>
    <input id="email" name="email" type="email"/><br>
    <!--<label for="age">Age: </label>-->
    <!--<input id="age" name="age" type="number"/><br>-->
    <label for="password">Password: </label>
    <input id="password" name="password" type="password"/><br>
    <label for="matchingPassword">Confirm Password: </label>
    <input id="matchingPassword" name="matchingPassword" type="password"/><br>
    <input type="submit" value="Registration!">
</form>

</body>
</html>